@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.heading{
    color: royalblue;
    text-align: center;
    margin-bottom: 50px;
}

.heading span{
    color: rgb(249, 5, 5);
}
/* Piano container */
.piano {
  position: relative;
  display: flex;
  gap: 2px;
  background: #757272;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* White keys */
.white-key {
  width: 60px;
  height: 250px;
  background: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 18px;
  color: #333;
  position: relative;
}

/* White key pressed effect */
.white-key:active {
  background: #ececec;
  transform: translateY(2px);
}

/* Black keys */
.black-key {
  position: absolute;
  width: 45px;
  height: 150px;
  background: linear-gradient(to bottom, #000, #3a3a3a);
  color: white;
  top: 20px;
  z-index: 2;
  border-radius: 5px 5px 8px 8px;
  border: 1px solid #111;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
}

.black-key span {
  font-size: 12px;
  opacity: 0.8;
}

/* Black key pressed */
.black-key:active {
  background: #222;
  transform: translateY(2px);
}

.white-key.active {
  background: #d8d8d8;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}

.black-key.active {
  background: #222;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.2);
  transform: translateY(2px);
}
